#dropDown_Div {
    position: inline;
    display: inline-block;
    width: 50%;

}

#mainBtn {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
}

#mainBtn:hover {
    background-color: bisque;
}

.drop_menu {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 100px;
}

